body { 
  padding-top: 70px;
  font-family: 'Helvetica';
}

.navbar {
  background-color: black;
  color: white;
  font-size: 2em;
  height: 70px;
}

#nostalgia {
  float: left;
  font-weight: bold;
}

.navbar-items {
  float: right;
  text-align: right;
  margin-right: 20px;
  font-size: 1em;
}

.button-container {
  margin: 4vw;
}

.playlist-button {
  text-align: center;
  background-color: black;
  color: white;
  font-size: calc(100% + 10px);
  width: 100%;
  border: solid white 2px;
}

.playlist-button:hover {
  background-color: white;
  color: black;
  border: black solid 2px;
}

.song-container {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  width: 100%;
}

.song-container:hover {
  font-weight: bold;
}

.song-name-album-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  min-width: 0;
}

.artist-song {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  font-size: 16px;
}

.artist {
  color: gray;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-container {
  opacity: 0;
  transition: opacity 2s ease-in;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.fa {
  padding: 5px;
}

.spinner-container {
  width: 20px;
  height: 20px;
  margin-left: 18px;
}

.fa-play-circle {
  font-size: 20px;
  text-align: center;
}

.fa-pause-circle {
  font-size: 20px;
}

.fa-plus {
  font-size: 20px;
}

.fa-times {
  font-size: 20px;
}

.fa-check {
  font-size: 20px;
}

/*.show {
  visibility: visible;
}*/

#player {
  display: none;
}