body { 
  padding-top: 70px;
  font-family: 'Helvetica';
}

.navbar {
  background-color: black;
  color: white;
  font-size: 2em;
  height: 70px;
}

#nostalgia {
  float: left;
  font-weight: bold;
}

.navbar-items {
  float: right;
  text-align: right;
  margin-right: 20px;
  font-size: 1em;
}

.btn {
  color: white;
}

.song-container {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
}

.song-container:hover {
  font-weight: bold;
}

.song-name-album-container {
  display: flex;
  flex-direction: column;
}

.artist-song-number {
  font-size: 16px;
  color: gray;
  text-align: center;
  width: 45px;
  line-height: 35px;
}

.artist-song {
  margin-bottom: 0px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.artist {
  color: gray;
  font-size: 10px;
  text-overflow: ellipsis;
}

.buttons-container {
  opacity: 0;
  transition: opacity 2s ease-in;
  display: flex;
  flex-direction: row;
  width: 0;
}

.fa {
  padding: 5px;
}

.spinner-container {
  width: 20px;
  height: 20px;
  margin-left: 18px;
}

.fa-play-circle {
  font-size: 20px;
  text-align: center;
}

.fa-pause-circle {
  font-size: 20px;
}

.fa-plus {
  font-size: 20px;
}

.fa-times {
  font-size: 20px;
}

.fa-check {
  font-size: 20px;
}

/*.show {
  visibility: visible;
}*/

#player {
  display: none;
}