html, body {
  height: 100%;
  width: 100%;
}

#splash-page-img-container {
  height: 100vh;
}

#splash-page-img {
  height: 100vh;
  color: white;
  text-align: center;
  background-size: cover;
}

#splash-page-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#header {
  font-size: 15vw;
  flex: 9;
}

#description-container {
  flex: 1;
}

.description {
  font-size: 48px;
  line-height: 48px;
}

#splash-page-arrow {
  color: white;
  font-size: 72px;
  width: 20%;
}

#splash-page-arrow:hover {
  color: black;
}

.bottom-container {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.text-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description {
  width: 25%;
  margin-top: 10%;
}

.spotify-login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spotify-login-btn {
  font-size: 36px;
  border: 3px solid black;
  position: relative;
  font-weight: bold;
  color: black;
}

#spotify-login-btn:hover {
  color: white;
  background-color: black;
}

@media (max-width: 620px) {
  .text-container {
    flex-direction: column;
    align-items: center;
    flex: 3;
  }

  .description {
    font-size: 36px;
    line-height: 36px;
    width: 85%;
    flex: 1;
    margin: 0 auto;
  }

  #spotify-login-btn {
    font-size: 24px;
  }
}

@media (min-width: 621px) and (max-width: 1030px) {
  #header {
    flex: 7;
  }
  
  .bottom-container {
    /*padding: 0;*/
  }

  .text-container {
    flex-direction: column;
    align-items: center;
    flex: 3;
  }

  .description {
    font-size: 64px;
    line-height: 64px;
    width: 60%;
    flex: 1;
    margin: 0 auto;
  }
}